.subject-header {
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.subject-header p, .subject-body p {
  margin: 0;
}
.collapsible-body {
  padding: 2rem 1rem;
}

.subject-body{
display: flex;
flex-direction: column;
}

.subject-mainData{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: .75rem;
}

.subject-subMainData {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.materiaPendiente {
  background-color: #ffffff;
  transition: 0.5s;
}

.materiaFirmada {
  background-color: #F4EBC1;
  transition: 0.5s;
}

.materiaFinal {
  background-color: #A0C1B8;
  transition: 0.5s;

}

.keyboard-focused .collapsible-header:focus {
  background-color: inherit;
}

.inputGroup {
  display: flex;
}

.statusSelection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.estado {
  cursor: pointer;
}
